body{
    /* background-color: green; */
}
.background{
    background-color: red;
    height:500px;
    width:400px;
    box-sizing: border-box;
}
input{
    box-sizing: border-box;
    height: 100%;
    width:300px;
    background-color: rgb(144, 187, 144);
    color:white;
    font-size:40px;
    padding-left: 40px;
    text-wrap: break-word;
    text-shadow: 1px 3px 2px black;
    text-align: center;
    padding-right: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media only screen and (max-width: 480px){
    .background{
        height: 657px;
        width:100%
    }
    input{
        height: 100%;
        width:100%
    }
    .allbtn{
        /* background-color: red; */
        width:70%;
        height: 50px;
        position:fixed;
        top:20px;
        left:15%;
    }
    button{
        width:80px;
        height:30px;
        color:white;
        background-color: rgb(116, 113, 113);
        border:none;
        border-radius: 7px;
    }
    button:hover{
        background-color: rgb(184, 175, 175);
        
    }
}